*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-color: #f6f8f9;
}
h1{
    display: inline;
    font-size: 52px;
    
    
}

.container{
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;

}

img{
    height: 75px; 
    margin-left: 15px; 
    
}

.button{
    width: 60%;
    height: 60px;
    margin-top: 50px;
    margin-left: 20%;
    background-color: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}

button{
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold ;
    padding: 10px;
    margin-top: 13px;
    border: solid;
}

#add-task{
    margin-left: 50px;
    background-color: #47adf1;
    color: white;
}

#add-section{
    background-color: white;
    color: #c9cfd3;
    border-color: #c9cfd3;
    border: 1px solid;
    
}






section{
    width: 60%;
    height: auto;
    margin-top: 2px;
    margin-left: 20%;
    background-color: white;
    padding-top: 30px;

}

li{
  display: flex;
  font-size: 22px;
  margin: 17px;
}

.content{
    margin-left: 50px;
}

.editorial{
    margin-left: 5px;
    background-color: #45abea;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 8px;
}

.today{
    padding-top: 30px;
}

.goals{
    margin-left: 5px;
    background-color: #9c72e4;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 8px;
}

.recruiting{
    margin-left: 5px;
    background-color: #64c0a9;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 8px;
}

.mobile{
    margin-left: 5px;
    background-color: #f29e33;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 8px;

}

.upcoming{
    padding-top: 30px;
}

.website{
    margin-left: 5px;
    background-color: #d863a1;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 8px;
}

.sales{
    margin-left: 5px;
    background-color: #b0c926;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 8px;
}

.check{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #73c7b3;
    border: 1px solid;
    border-radius: 100%;
    height: 22px;
    width: 22px;
    
}

.cross{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;
    margin-right: 10px;
    color: #ea463c;
    border: 1px solid;
    border-radius: 100%;
    font-size: 30px;
    
    
}
